.carditem-img {
  max-width: 100%;
  margin-right: 20px;
  width: 50%;
  object-fit: cover;
  @media screen and (max-width: 767px) {
    width: 34%;
  }
}

.carditem {
  display: flex;
  margin-right: 30px;

  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.carditem-content-number {
  font-family: "Inter-Bold";
  font-size: 45px;
  color: hsl(233, 8%, 79%);
  font-weight: 700;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    font-size: 30px;
  }
}

.carditem-content-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: "Inter-ExtraBold";
  cursor: pointer;
  @media screen and (max-width: 767px) {
    font-size: 15px;
  }

  &:hover {
    color: hsl(5, 85%, 63%);
  }
}

.carditem-content-desc {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  font-family: "Inter-Regular";
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}
