.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-logo-img {
  width: 50px;
  @media screen and (max-width: 767px) {
    width: 30px;
  }
}

.header-desc {
  font-size: 20px;
  color: hsl(236, 13%, 42%);
  margin-right: 40px;
  font-weight: 400;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: hsl(5, 85%, 63%);
  }
}

@media screen and (max-width: 767px) {
  .header-content {
    display: none;
  }
}

.header-logo-menu {
  display: none;

  @media screen and (max-width: 767px) {
    display: block;
    width: 30px;
  }
}
