@import "./Header.scss";
@import "./Homepage.scss";
@import "./CardItem.scss";
@import "./NavbarMobile.scss";

@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/static/Inter-Bold.ttf") format(truetype);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url("../fonts/static/Inter-ExtraBold.ttf") format(truetype);
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/static/Inter-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Inter-thin";
  src: url("../fonts/static/Inter-VariableFont_slnt,wght.ttf") format(truetype);
}

img {
  display: block;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
